
.card{
    width: 90%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    padding: 20px 0;
}
.c-svg {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    text-align: center;
    background: hsl(216, 12%, 24%);
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.c-svg>svg{
    width: 26px;
    height: 26px;
}

h1{
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    font-size: 2em;
    margin: 0;
    margin-top: 35px;
    padding: 0;
}
p{
    width: 350px;
    font-size: 15px;
    color: hsl(217, 12%, 63%);
    line-height: 25px;
    margin: 5px 0 0 0;
    font-weight: 400;
}

.radio-group {
    width: 90%;
    margin: 25px 5px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-around;
  }
  
  .radio-group label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
  }
  
  .radio-group input[type="radio"] {
    display: none;
  }
  
  .radio-group span {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    text-align: center;
    line-height: 55px;
    padding: auto;
    cursor: pointer;
    font-size: 22px;
    font-weight: 700;
    color: hsl(217, 12%, 63%);
    background: hsl(216, 12%, 24%);
    transition: .3s ease-in;
  }
  
  .radio-group input[type="radio"]:checked + span {
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
  }
  
  .radio-group input[type="radio"]:not(:checked):hover + span {
    background-color: hsl(217, 12%, 63%);
    color: hsl(0, 0%, 100%);
  }
  .btn{
    width: 85%;
    height: 45px;
    margin-left: 15px;
    cursor: pointer;
  }
  .sucess{
    background: hsl(25, 97%, 53%);
    border: none;
    border-radius: 25px;
    color: hsl(0, 0%, 100%);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1.5px;
    transition: .3s ease-in;
  }
  .sucess:active{
    opacity: .7;
  }
  .sucess:hover{
    color: hsl(25, 97%, 53%);
    background: hsl(0, 0%, 100%);
  }
  .fade-out {
    opacity: 1;
    transition: opacity 0.5s ease;
  }
  
  .fade-out.fade-out-active {
    opacity: 0;
  }
  @media screen and (max-width: 567px){
    p{
      width: 100%;
      font-size: 15px;
      color: hsl(217, 12%, 63%);
      line-height: 25px;
      margin:10px 0;
      font-weight: 400;
  }
  }
  