@import url(./header.css);
@import url(./main.css);
@import url(./footer.css);
*{
    box-sizing: border-box;
    overflow-x:hidden ;
}
body{
    background: #181719;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
@media screen and (max-width:467px) {
    body{
        height: 100vh;
        justify-content: space-between;
    }
}