
.main{
  width: 100%;
  height: auto;
  flex-direction: column;
  align-items:start;
  justify-content: start;
  gap: 30px;
}
.main-portafolio{
  animation: popUp .7s ease-in-out;
}
.title-section{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title-section h1{
    color: #fff;
    margin: 5px 0;
    font-size: 1.7em;
    font-weight: 600;
}
.title-section span{
    color: #a3a2a2;
    font-size: 1.2em;
}

.container{
    margin: 0 auto;
    width: 80%;
    height: auto;
    display: grid;
    gap: 35px 20px;
    grid-template-columns: repeat(3, 1fr);
}
.card {
    width: 350px;
    height: 445px;
    background-color: hsl(0, 0%, 11%);
    color: hsl(0, 0%, 100%);
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform .3s ease-in-out;
  }
  .card:hover{
    cursor: pointer;
    transform: scale(1.1);
  }
  .card-header {
    padding: 10px;
    width: 100%;
    height: 210px;
  }
  
  .card-header img {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
  }
  
  .card-body {
    padding: 20px;
  }
  
  .card-body h2 {
    font-size: 18px;
    margin: 0;
    text-align: center;
  }
  
  .card-body p {
    height: 96px;
    font-size: 16px;
    line-height: 1.5;
  }
  .foot{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .tags-created {
    display: inline-block;
    background-color: hsl(277, 64%, 61%);
    color: hsl(0, 0%, 100%);
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 12px;
    margin-top: 10px;
  }
  
  .directions {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  
  .directions svg {
    width: 24px;
    height: 24px;
    margin-right: 10px;
  }
  /*Animaciones*/
  @keyframes popUp {
    from{
        position: relative;
        top: 0;
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
  }
  @media screen and (max-width:467px) {
    .main{
      width: 100%;
      display: grid;
      grid-template-columns: 1fr;

    }
  .title-section{
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }
  .title-section h1{
      color: #fff;
      margin: 5px 0;
      font-size: 1.2em;
      font-weight: 600;
      text-align: center;
  }
  .title-section span{
      color: #a3a2a2;
      font-size: 1em;
      text-align: center;
  }
  .container{
    display: grid;
    grid-template-columns: auto;
    width: 90%;
    margin: 0 auto;
    gap: 30px 0;
  }
  .card{
    width: auto;
  }
}
/*uso de media Screeen para tablets */
@media screen and (min-width: 768px) and (max-width: 1023px){
  .main{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;

  }
  .container{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    gap: 30px 0;
  }
  .card{
    width: 310px;
  }
}

