
@import url(./header.css);
@import url(./main.css);
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.container{
    margin: 40px 77px;
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    gap: 100px;
}
body{
    height: auto;
}
@media screen and (max-width:467px) {
    .container{
        margin: 20px auto;
        gap: 50px;
    }
}