@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@400;500;600;700&display=swap');

*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:  hsl(30, 38%, 92%);
}
.container{
    width: 600px;
    height: fit-content;
    border-radius: 15px;
    background: hsl(0, 0%, 100%);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.card{
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
}
.card-header{
    box-sizing: border-box;
    width: 50%;
    height: 100%;
    overflow: hidden;
    border-radius: 15px 0px 0px 15px;
}
img{
    transition: transform 0.3s ease-in-out;
    margin: 0;
    padding: 0;
    border-radius: 15px 0px 0px 15px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.desktop{
    display: block;
}
.card-body{
    padding:0  19px;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;
}
h2{
    padding: 25px 0 0 0;
    text-transform: uppercase;
    letter-spacing: 7px;
    font-size: 12px;
    font-family: 'Montserrat','Times New Roman', Times, serif;
    font-weight: 700;
    color: hsl(212, 21%, 14%);
    opacity: .6;
}
h1{
    margin: 0;
    font-size: 2.3em;
    line-height: 1em;
    font-family:'Fraunces', Verdana, sans-serif;
    color: hsl(212, 21%, 14%);
}
p{
    width: 225px;
}
p, span, button{
    font-size: 14px;
    font-weight: 500;
    font-family: 'Montserrat','Times New Roman', Times, serif;
    line-height: 20px;
    color: hsl(212, 21%, 14%);
    opacity: .9;
}
.price {
    width: 90%;
    display: flex;
    text-align: center;
    gap: 10px;
    font-size: 2.1em;
    color: hsl(158, 36%, 37%);
    font-weight: 700;
    font-family:'Fraunces', Verdana, sans-serif;
    margin: 5px 0;
}
span{
    text-decoration: line-through;
}
button{
    width: 90%;
    height: 50px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;

    border: none;
    border-radius: 7px;

    background-color: hsl(158, 46%, 17%);
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    cursor: pointer;
    transition: background .3s ease-in-out;
}
.movile{
    display: none;
}

/*Hover, animationes interesantes*/
button:hover{
    background-color: hsl(140, 92%, 21%);
}
Button:hover svg{
    animation: bounce 1s ease-in-out;
}
button:active{
    transform:  scale(.99);
}
img:hover{
    transform: scale(1.2);
}
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
}

@media screen and (max-width: 767px) {
    .desktop{
        display: none;
    }
    .movile{
        display: block;
    }
    body{
        margin: 30px auto;
        align-items: center;
        justify-content: start;
    }
    .container{
        width: 90%;
        height: auto;
        margin: 0 auto;
        border-radius: 15px 15px 0 0;
    }
    .card{
        flex-direction: column;
    }
    .card-header, .card-body{
        width: 100%;
    }
    .card-header{
        height: 250px;
        border-radius: 15px 15px 0 0;
    }
    img{
        border-radius: 15px 16px 0px 0px;
    }
    .card-body{
        height: max-content;
        gap: 10px;
    }
    h1{
        font-size: 2em;
    }
    p{
        width: 92%;
    }
    button{
        width: 100%;
        background-color: hsl(140, 92%, 21%);
    }
}