.main{
    width: 100%;
    height: calc(100vh - 80px);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home{
    width: 650px;
    height: 293px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.personal-information{
    width: 266px;
    height: 189px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
    overflow: hidden;
    animation: slideleft  1s ease-in-out;
}

.personal-information span{
    color: #B86605;
    font-family: 'Raleway';
    font-size: 20px;    
    font-weight: 700;
    line-height: normal;
    margin: 0;
}
.personal-information h2{
    margin: 0;
    color: #FFF;
    font-family: 'Poppins';
    font-size: 32px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
}
.text-animation {
    color: #FFF;
    font-family: 'Montserrat';
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    width: 240px;
    height: 22px;
  }

.welcome {
    color: #C2C2C2;
    font-family: Poppins;
    font-size: 17px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}
.my-photo{
    width: 343px;
    height: 341px;
    border-radius: 100%;
    box-sizing: border-box;
    overflow: hidden;
}
.index-photo{
    animation: sliderigth  1s ease-in-out;
}
.my-photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
    border: 3px solid #B86605;
    transition: .3s all ease-in-out;
    box-sizing: border-box;
}
.my-photo img:hover{
    cursor: pointer;
    transform: scale(1.1);
}
/*Animaciones*/
@keyframes slideleft {
    from {
      transform: translateX(-900px);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
}
@keyframes sliderigth {
    from {
      transform: translateX(900px);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
@media screen and (max-width:467px) {
    .personal-information{
        animation: slideleft  .6s ease-in-out;
    }
    .index-photo{
        animation: sliderigth  .6s ease-in-out;
    }
    .header{
        width: 100%;
    }
    .home{
        width: 90%;
        height: 450px;
        flex-direction: column-reverse;
        gap: 25px;
    }
    .my-photo{
        width: 300px;
        height: 400px;
    }
    @keyframes slideleft {
    from {
      transform: translateX(-900px);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
}
@keyframes sliderigth {
    from {
      transform: translateX(900px);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
}